@page
@using ToDoOdt.Pages.Shared
@model ToDoOdt.Pages.Restaurants.List
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <title>Restaurants</title>
</head>
<body>
<div class="container">
    
    <form method="get">
        <div class="from-group">
            <div class="input-group">
                <input asp-for="RestaurantName" class="form-control" type="search" value="">
                <button type="submit" class="btn btn-primary btn-sm">
                     Search
                 </button>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-header bg-primary">
            Restaurants
        </div>
        <div class="card-body">
            <table class="table">
                    @foreach (var item in  Model.Restarants)
                    {
                        <partial name="_RestaurantPartialView" model="item"/>
                    }
                </table>
                <a asp-page="./Edit" class="btn btn-primary">Add</a>
        </div>
    </div>
    
</div>
</body>
</html>
