@page
@model ToDoOdt.Pages.Restaurants.List

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <button class="primary">Testing </button>
    <h1>Restaurants</h1>
    <h1>@Model.MessageData</h1>
    @foreach (var item in  Model.Restarants)
    {
        <div>
            @item.Name
        </div>
    }
</div>
</body>
</html>
